{% extends 'base.html' %}
{% load static %}

{% block title %} Cerrar Sesión {% endblock title %}

{% block main %}
<div class="d-flex justify-content-center">
<div class="card text-center" style="width: 25rem;">
    <div class="card-header" >
      Control de Herramientas
    </div>
    <div class="card-body" >
      <h5 class="card-title">Sesion Finalizada</h5>
      <p class="card-text">Hasta Luego</p>
      <a href="{%url 'Home'%}" class="btn btn-primary">Ir al Inicio</a>
    </div>
</div>
  </div>
{% endblock main %}