{% extends 'base.html' %}
{% load static %}

{% block title %} Administrador {% endblock title %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;" >
        <img src={{request.user.administrador.avatar.url}} class="card-img-top" alt="avatar">
        <div class="card-body">
            <h5 class="card-title">{{ request.user.last_name }}, {{ request.user.first_name }}</h5>
                <p class="card-text" style="color: blue;">e-mail: {{request.user.email}}</p>
            <div>
            <a href="{% url 'editar-cuenta' %}" class="m-2 btn btn-success">Editar cuenta de administrador</a>
            <a href="{% url 'eliminar-cuenta' user.id %}" class="m-2 btn btn-danger">Eliminar cuenta de administrador</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}