{% extends 'base.html' %}
{% load static %}

{% block title %} Consumible {% endblock title %}

{% block main %}
    <div>
        <a href="{% url 'Listado-Consumible' %}" class="m-3 btn btn-primary">Lista de Consumibles</a>
    </div>
    {% if consumible %}
        <div class="row">
            <div class="card m-3" style="width: 24rem;" >
                <div class="card-body">
                <h5 class="card-title">{{ consumible.designacion }}</h5>
                <p class="card-text">Descripción: {{ consumible.descripcion }}.</br> {{ consumible.cantidad }} {{ consumible.unidad }} </p>
                <p class="card-text">Vencimiento: {{ consumible.vencimiento }} </br> Lote: {{ consumible.lote }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 24rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}