{% extends 'base.html' %}
{% load static %}

{% block title %} Consumible {% endblock title %}

{% block main %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 45rem; background-color: #f8f9fa;">
            <div class="card-body">
                <h5 class="card-title">Editar Consumible</h5>
                <form method="POST" class="m-2" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Guardar cambios" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
