{% extends 'base.html' %}
{% load static %}

{% block title %} Consumible {% endblock title %}

{% block main %}
    <div>
        {% if perms.consumible.add_consumible %}
            <a href="{% url 'Crear-Consumible' %}" class="m-2 btn btn-success">Registrar Nuevo Consumible</a>
        {% endif %}
    </div>
    {% if object_list %}
        <div class="row">
            {% for consumible in object_list %}
                <div class="card m-2" style="width: 24rem;" >
                    {% if consumible.imagen %}
                    <img src={{consumible.imagen.url}} alt="" height='50px' width='50px'>
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ consumible.designacion }}</h5>
                    <p class="card-text">Descripción: {{ consumible.descripcion }}</p>
                    <a href="{% url 'Detalle-Consumible' consumible.id %}" class="btn btn-primary">Ver</a>
                    {% if perms.consumible.change_consumible %}
                        <a href="{% url 'Editar-Consumible' consumible.id %}" class="btn btn-success">Editar</a>
                    {% endif %}
                    {% if perms.consumible.delete_consumible %}
                        <a href="{% url 'Eliminar-Consumible' consumible.id %}" class="btn btn-danger">Borrar</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card" style="width: 24rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}