{% extends 'base.html' %}
{% load static %}

{% block title %} Nuevo Encargado {% endblock title %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="background: #f8f9fa;">
                    <div class="card-header">
                        <h5 class="mb-0 text">Cargar Encargado</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center mt-4">
                                <input type="submit" value="Cargar Encargado" class="btn btn-success">
                                <a href="{% url 'Listado-Encargado' %}" class="btn btn-secondary">Volver a Listado</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}