{% extends 'base.html' %}
{% load static %}

{% block title %} Encargado {% endblock title %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Detalles de Encargado</h5>
                    </div>
                    <div class="card-body">
                        {% if encargado %}
                            <div class="row">
                                <div class="col-md-4">
                                    {% if encargado.imagen %}
                                        <img src="{{ encargado.imagen.url }}" alt="" class="img-thumbnail">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <h5 class="card-title">{{ encargado.apellido }} {{ encargado.nombre }}</h5>
                                    <p class="card-text"><strong>Legajo:</strong> {{ encargado.legajo }}</p>
                                    <p class="card-text"><strong>Sector:</strong> {{ encargado.sector }}</p>
                                    <p class="card-text"><strong>Función:</strong> {{ encargado.funcion }}</p>
                                </div>
                            </div>
                        {% else %}
                            <p class="card-text">No se encontraron datos.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-primary text-white text-center">
                        <a href="{% url 'Listado-Encargado' %}" class="btn btn-light">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
