{% extends 'base.html' %}
{% load static %}

{% block title %} Detalle del encargado {% endblock title %}

{% block main %}
    <div>
        <a href="{% url 'Listado-Encargado'%}" button type="button" class="m-2 btn btn-primary"> Atras</button> </a>
        
    </div>
    {% if encargado %}
        <div class="row">
            <div class="card m-3" style="width: 30rem;" >
                <div class="card-body">
                    <img src={{encargado.imagen.url}} alt="encargado" style="height:160px; width: 160px;">
                    <div class="flex-shrink-0">
                    </div>
                <h5 class="card-title">{{ encargado.nombre }} {{ encargado.apellido }} || Legajo: {{ encargado.legajo }}</h5>
                <p class="card-text"> <h6>Sector: </h6> {{ encargado.sector }} </p>
                <p> <h6>Función: </h6> {{ encargado.funcion }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 30rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}