{% extends 'base.html' %}
{% load static %}

{% block title %} Lider {% endblock title %}

{% block main %}
    <div>
        {% if perms.encargado.add_encargado %}
            <a href="{% url 'Crear-Encargado'%}" class="m-2 btn btn-success">Registrar Nuevo Encargado</a>
            <a href="{% url 'Buscar-Encargado'%}" class="m-2 btn btn-primary">Buscar Encargado</a>
            
        {% endif %}
    </div>
    {% if object_list %}
        <div class="row">
            {% for encargado in object_list %}
                <div class="card m-3" style="width: 24rem;" >
                    {% if encargado.imagen %}
                    <img src={{encargado.imagen.url}} alt="" height='50px' width='50px'>
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ encargado.apellido }}|| Legajo {{ encargado.legajo }}</h5>
                    </br>
                    <a href="{% url 'Detalle-Encargado' encargado.id %}" class="btn btn-primary">Ver</a>
                    {% if perms.encargado.change_encargado %}
                        <a href="{% url 'Editar-Encargado' encargado.id %}" class="btn btn-success">Editar</a>
                    {% endif %}
                    {% if perms.encargado.delete_encargado %}
                        <a href="{% url 'Eliminar-Encargado' encargado.id %}" class="btn btn-danger">Borrar</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card" style="width: 24rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}