{% extends 'base.html' %}

{% load static %}

{% block title %} Crear Nuevo Operario  {% endblock title %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 60rem; color:white; background: #515A5A;" >
    <form method="POST" class="m-2" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cargar Datos" class="btn btn-primary">
        <a href="{%url 'Lista-Operario'%}" class="btn btn-primary">Volver a Listado</a>
    </form>
</div>
</div>
        
{% endblock main %}