{% extends 'base.html' %}
{% load static %}

{% block title %} Operario {% endblock title %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Detalles de Operario</h5>
                    </div>
                    <div class="card-body">
                        {% if operario %}
                            <div class="row">
                                <div class="col-md-4">
                                    {% if operario.imagen %}
                                        <img src="{{ operario.imagen.url }}" alt="" class="img-thumbnail">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <h5 class="card-title">{{ operario.apellido }} {{ operario.nombre }}</h5>
                                    <p class="card-text"><strong>Legajo:</strong> {{ operario.legajo }}</p>
                                    <p class="card-text"><strong>Lider:</strong> {{ operario.encargado }}</p>
                                    <p class="card-text"><strong>Función:</strong> {{ operario.funcion }}</p>
                                </div>
                            </div>
                        {% else %}
                            <p class="card-text">No se encontraron datos.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-primary text-white text-center">
                        <a href="{% url 'Lista-Operario' %}" class="btn btn-light">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
