{% extends 'base.html' %}
{% load static %}

{% block title %} Operario {% endblock title %}

{% block main %}
    <div>
        {% if perms.operario.add_movie %}
            <a href="{% url 'Crear-Operario' %}" class="m-3 btn btn-primary">Registrar Nuevo Operario</a>
            <a href="{% url 'Buscar-Operario' %}" class="m-3 btn btn-info">Buscar Operario</a>
        {% endif %}
    </div>
    {% if object_list %}
        <div class="row">
            {% for operario in object_list %}
                <div class="card m-3" style="width: 25rem;" >
                    <div class="card-body">
                    <h4 class="card-title">{{ operario.nombre }} {{ operario.apellido }}</h4>
                    <h7> Legajo: {{ operario.legajo }}</h7></br>

                    <a href="{% url 'Detalle-Operario' operario.id %}" class="btn btn-primary">Ver</a>
                    {% if perms.operario.change_movie %}
                        <a href="{% url 'Editar-Operario' operario.id %}" class="btn 
                        btn-success">Editar</a>
                    {% endif %}
                    {% if perms.operario.delete_movie %}
                        <a href="{% url 'Eliminar-Operario' operario.id %}" class="btn btn-danger">Borrar</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card" style="width: 25rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}