{% extends 'base.html' %}

{% load static %}

{% block title %} Resultado {% endblock title %}

{% block main %}
<br/><br/>

    <body>
    {%if operarios %}
    {% for operario in operarios %}
    <div class="card m-3" style="width: 25rem;" >
        <div class="card-body">
        <h4 class="card-title"> {{ operario.apellido }}, {{ operario.nombre }}</h4>
        <h7> Legajo: {{ operario.legajo }}</h7></br>

        <a href="{% url 'Detalle-Operario' operario.id %}" class="btn btn-primary">Ver</a>
        {% if perms.operario.change_movie %}
            <a href="{% url 'Editar-Operario' operario.id %}" class="btn 
            btn-success">Editar</a>
        {% endif %}
        {% if perms.operario.delete_movie %}
            <a href="{% url 'Eliminar-Operario' operario.id %}" class="btn btn-danger">Borrar</a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <br/>
    
    </body>
    {% else %}
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <a style="color: red;">Operario no encontrado o los datos ingresados son incorrectos.</a>
        </div>
    </div>
    {% endif %}
    <a href="{%url 'Lista-Operario'%}" class="btn btn-primary">Volver al listado</a>
<br/><br/>

{% endblock main %}