{% extends 'base.html' %}
{% load static %}

{% block title %} Herramienta {% endblock title %}

{% block main %}
    <div>
        {% if perms.herramienta.add_movie %}
            <a href="{% url 'Crear-Herramienta' %}" class="m-2 btn btn-success">Registrar Nueva Herramienta</a>
        {% endif %}
    </div>
    {% if object_list %}
        <div class="row">
            {% for herramienta in object_list %}
                <div class="card m-2" style="width: 24rem;" >
                    <div class="card-body">
                    <h5 class="card-title">{{ herramienta.designacion }} {{ herramienta.rastreo }}</h5>
                    <p class="card-text">Detalle: {{ herramienta.descripcion }}</p>
                    <a href="{% url 'Detalle-Herramienta' herramienta.id %}" class="btn btn-primary">Ver</a>
                    {% if perms.herramienta.change_movie %}
                        <a href="{% url 'Editar-Herramienta' herramienta.id %}" class="btn btn-success">Editar</a>
                    {% endif %}
                    {% if perms.herramienta.delete_movie %}
                        <a href="{% url 'Eliminar-Herramienta' herramienta.id %}" class="btn btn-danger">Borrar</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card" style="width: 24rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}